<!doctype html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="/assets/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Antic' rel='stylesheet'>
  <link rel="script" href="js/main.js">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div class="header" id="header">
  <a href="/home" class="header_title">Jai Ambe<br>Mitra Mandal</a>
  <div class="header_links">
    <a href="/home" style="color: greenyellow;">Home</a>
    <a href="/members">Members</a>
    <a href="/loan">Loan</a>
    <a href="/graph">Graph</a>
    <a href="/deletedMembers">Deleted</a>
    <a href="/schemes">Schemes</a>
    <a href="/logout">Logout</a>
  </div>
</div>
<div class="back_1_index">
  <div class="back_1_index_content">
    <img src="assets/images/durga-png-image-10.png" height="300" width="300">
    <h1>Jai Ambe Mitra Mandal</h1>
  </div>
</div>
</body>
</html>
