<!doctype html>
<html>
<head>
  <title>Schemes</title>
  <link rel="stylesheet" href="/assets/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Antic' rel='stylesheet'>
  <link rel="script" href="js/main.js">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div class="header" id="header">
    <a href="/home" class="header_title">Jai Ambe<br>Mitra Mandal</a>
    <div class="header_links">
      <a href="/home">Home</a>
      <a href="/members">Members</a>
      <a href="/loan">Loan</a>
      <a href="/graph">Graph</a>
      <a href="/deletedMembers">Deleted</a>
      <a href="/schemes" style="color: greenyellow;">Schemes</a>
      <a href="/logout">Logout</a>
    </div>
  </div>
<div class="back_1_schemes">
  <div class="back_1_schemes_content">
    <h1>Our Schemes</h1>
    <div class="line_1"></div>
    <table align="center" cellpadding="15" border="1">
      <tr>
        <th>
          <p>Sr. No.</p>
        </th>
        <th>
          <p>Monthly</p>
        </th>
        <th>
          <p>Interest</p>
        </th>
      </tr>
      <% var j = []; %><% var k = []; %>
      <% for(var i = 1000; i <= 60000; i=i+1000) { %>
      <tr>
        <td><%= i/1000 %></td>
        <td>&#8377;<%= i %></td><% j[i] = (i-1000)/100; %><%  %>
        <td><%= j[i] %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= j[i]+j[i-1000] %></td>
      </tr>
      <% } %>
    </table>
  </div>
</div>
</body>
</html>
